#main{
    background-color: #0a3872;
}

.navbar-nav{
    width: 100%;
    justify-content: center;
}

.elementBody{
    padding: 5vw;
}

.elementBodyPadding{
    padding: 2vw;
    border-radius: 30px;
}