#navigation{
    background-color: black !important;
}

@media (max-width: 990px) {
    .navbar-nav {
        height: 70vh !important;
        display: flex;
        justify-content: space-around;
        text-align: center;
    }

    .container button{
        margin-left: auto;
    }
}

@media (max-width: 990px) and (orientation: portrait){
    .navbar-nav {
        font-size: 4vh;
    }
}

@media (max-width: 990px) and (orientation: landscape){
    .navbar-nav {
        font-size: 4vw;
    }
}