.flexLine{
    display: flex;
    align-items: center;
    padding-top: 5vw;
    padding-bottom: 5vw;
}

#picture{
    width: 30%;
    padding-left: 5vw;
    padding-right: 5vw;
    align-items: center;
    justify-content: center;
    display: flex;
}

#me{
    width: 70%;
    height: 60%;
    padding-right: 5vw;
    padding-left: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

#me button{
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
    padding: 1vh;
    border: solid #0a3872d9 1px;
    border-radius: 100px;
    color: #0a3872d9;
    font-size: clamp(15px, 1vw, 100px);
    transition: color .3s ease-in-out;
    transition: background-color .3s ease-in-out;
}

#me button:hover{
    color: white;
    background-color: black;
    border: solid black 1px;
}

#me button svg{
    padding: 5px;
}

#desc{
    font-size: clamp(15px, 2vw, 100px);
}

span{
    padding-left: 10px;
    padding-right: 10px;
}

#separation{
    width: 100%;
    height: 2px;
    background-color: white;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

#icons{
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

#icons a{
    font-size: clamp(15px, 2vw, 120px);
    color: transparent;
    animation: txt-appearance 0s 1.25s forwards;
}

#icons svg{
    transition: color .3s ease-in-out;
}

#icons svg:hover{
    color: black !important;
    filter: drop-shadow(0 0 1px black);
}

#icons a{
    margin-right: 25px;
    margin-left: 25px;
}

p {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 900;
    font-size: clamp(20px, 8vw, 120px);
    margin-bottom: 0 !important;
    line-height: 1;
}
p span {
    display: inline-block;
}

#first {
    font-weight: 300;
}

#second {
    color: black;
}

#icons::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    background: white;
    animation: slide-in 0.75s 0.3s ease-out forwards,
    slide-out 0.75s 1.3s ease-out forwards;
}

@keyframes slide-in {
    100% {
        transform: translateX(0%);
    }
}
@keyframes slide-out {
    100% {
        transform: translateX(100%)
    }
}

@keyframes txt-appearance {
    100% {
        color: #ffffff;
    }
}

@media (max-width: 990px) and (orientation : portrait) {
    .flexLine{
        flex-direction: column;
        justify-content: flex-start;
    }

    #me{
        flex-grow: 1;
    }

    #me button{
        width: 80%;
    }

    #picture{
        flex-grow: 3;
        width: 40%;
        height: auto;
        padding-left: 0;
        padding-right: 0;
    }

    #icons{
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }

    #icons svg {
        font-size: clamp(30px, 8vw, 50px);
        padding-right: 0;
        padding-left: 0;
    }

}

@media (max-width: 990px) and (orientation : landscape) {
    #icons svg {
        font-size: clamp(30px, 6vh, 50px);
    }

    #me button{
        width: 60%;
    }
}