body{
    background-color: #000000d9 !important;
    color: white !important;
    font-family: Poppins, Nunito Sans, Montserrat, sans-serif;
}

img{
    width: 100%;
}

.justifyText
{
    text-align: justify;
}