.myCard{
    border: solid #0a3872d9 1px;
    margin-bottom: 5vh;
    color: #222;
}

.topicName{
    text-align: center;
    font-size: clamp(20px, 1vw, 100px);
    padding-bottom: 20px;
}

.spanName{
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 5px;
    border-bottom: solid #0a3872d9 2px;
    color: black;
    text-transform: uppercase;

}

@media (max-width: 990px){
    .myCard{
        padding: 3vw;
    }
}